@font-face {
  font-family: JunkDog;
  src: url(assets/JunkDog.woff);
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  padding: 20px 40px;
  background: linear-gradient(0deg, rgba(185,72,255,1) 0%, rgba(107,72,255,1) 100%);
  font-family: 'JunkDog', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
